@charset "UTF-8";

@media only screen and (max-width: 470px) {
    header {
        font-size: 0.9em;
    }

    #buttonGenerator {
        font-size: 18px;
    }

    #divDisplayImage {
        width: 384px;
        height: 284px;
    }

    #divDisplayImage > img {
        width: 380px;
        height: 280px;
    }
}

@media only screen and (max-width: 400px) {
    header {
        font-size: 0.8em;
    }

    #divDisplayImage {
        width: 354px;
        height: 254px;
    }

    #divDisplayImage > img {
        width: 350px;
        height: 250px;
    }
}

@media only screen and (max-width: 375px) {
    #divDisplayImage {
        width: 304px;
        height: 204px;
    }

    #divDisplayImage > img {
        width: 300px;
        height: 200px;
    }
}